<%= form_with(model: @property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <hr>
  
  <%= form.fields_for :nearest_stations do |nearest_stations_form| %>
    <h3>最寄り駅<%= nearest_stations_form.index + 1 %></h3>
    <%= nearest_stations_form.label :line_name %>
      <%= nearest_stations_form.text_field :line_name %>
      <%= nearest_stations_form.label :station_name %>
      <%= nearest_stations_form.text_field :station_name %>
      <%= nearest_stations_form.label :walking_minutes %>
      <%= nearest_stations_form.text_field :walking_minutes %>
  <% end %>
<% end %>